body{
    background-color: rgba(25,44,63,255);
    font-family: 'Comfortaa', cursive;
    height: 80vh;
    /* width: 100rem; */
}
.ac{
    display: flex;
   justify-content: center;
}
.ar{
    display: flex;
    justify-content: right;
    margin-top: 3px;
    text-decoration: none;
    font-size: 0.8rem;
}
.w-50{
    width: 60%;
}
.d-flex{
    display: flex;
}
.img-fluid{
    width: 100%;
    margin-left: -12%;
}
.para{
    color: white;
    line-height: 2;
}
.login-cont{
    margin: 5rem;
}
.form{
    background-color: #ffffff;
    flex-direction: column;
}
.login{
    width: 55%;  
    margin-left: 40%;
    border: 0.1rem solid black;
    border-radius: 10px;
}
input{
    width: 100%;
}
.btn{
    font-family: 'Comfortaa', cursive;
    padding: 1rem 2rem;
    width: 49%;
    border: none;
    border: none;
    font-size: 1.1rem;
    background: none;
    margin-top: 8%;
    margin-bottom: 25%;
    cursor: pointer;
}
.log-btn{
    border-bottom: 0.2rem solid #4b5763;
    margin-right: -2px;
}
.reg-btn{
    color: #dadada;
    border-bottom: 0.2rem solid #dadada;
    margin-left: -2.5px;
}
.btn-main{
    padding: 1rem 3.5rem;
    background-color: #485867;
    color: white;
    font-size: 1.1rem;
    border-radius: 7px;
    border:none;
    cursor: pointer;
    margin-top: 15%;
}
.input{
    box-sizing: border-box;
    padding: 0.8rem;
    background: transparent;
    border: 1px solid #555;
    border-radius: 10px;
    margin-bottom: 0.5rem;
}
.label{
    margin-top: 20%;
}
.group{
    padding: 0.5rem 1rem;
    margin:-10px 1rem;
    margin-bottom: 0.1rem;
}
.ftr{
    text-decoration: none;
    right: 27%;
    bottom: 8%;
    font-size: 0.8rem;
    margin-bottom: 5%;
    margin-top: 7px;
}
.mb-3{
    margin-top: 10%;
    margin-bottom: 0%;
}
.mt1{
    margin-top: 10%;
}
.mb-2{
    margin-top: 5%;
    margin-bottom: -1rem;
}
@media(max-width:1300px){
    .log-btn{
        padding: 1rem;
    }
}
@media(max-width: 1300px){
    .w-50{
        width: 100%;
    }
    .img-fluid{
        margin-left: 0%;
    }
    .login-cont{
        flex-direction: column;
    }
    .group{
        width: 80%;
        margin-left: 7.5%;
        display: inline flex;
        justify-content: center;
    }
    .mac{
        margin-left: 0%;
        display: inline flex;
        justify-content: center;
    }
    .login{
        /* margin-left: 0%; */
        padding-top: 20px;
        width: 100%;
        font-size: 1.6rem;
        background-color: whitesmoke;
        align-items: center;
        margin: 2rem;
        margin-top: 15%;
        width: 90%;
        height: 150%;
        border-radius: 5%;
    }
    .para{
        font-size: 1.8rem;
        margin: 2rem;
        margin-left: 3rem;
        margin-bottom: 50%;
        width: 80%;
        height: 15rem;
        letter-spacing: 2px;
        line-height: 2;
    }
    .input{
        padding: 1.2rem;
    }
    .btn{
        margin-top: 15%;
        font-size: 1.6rem;
    }
    .btn-main{
        font-size: 1.6rem;
    }
    .ftr{
        margin-bottom: 10%;
    }
    .mb-2{
        margin-top: 5%;
        margin-bottom: 10%;
    }
    /* .ar{
        margin-top: 0%;
    } */
    .ftr{
        margin-top: 3%;
    }
    .ar{
        display: flex;
        justify-content: right;
        margin-top: 3px;
        text-decoration: none;
        font-size: 0.8rem;
        margin-left: 70%;
    }

}
